* {
  box-sizing: border-box;
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282828;
  padding: 20px;
  border-radius: 10px;
  color: #f5f5f5;
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the component */
}

.audio-player h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.audio-player input {
  margin-bottom: 20px;
  color: #e0e0e0;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #282828;
  color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.addtoplaylist {
  background-color: #e0e0e0;
  margin-top: -19px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.playlist {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.playlist-item button {
  background-color: #f5f5f5;
  color: #282828;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add media queries for responsiveness */
@media (max-width: 600px) {
  .audio-player {
    padding: 10px;
  }

  .audio-player h1 {
    font-size: 1.5rem;
  }

  .audio-player input,
  .addtoplaylist {
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .audio-player h1 {
    font-size: 1.2rem;
  }
}
